---
services:
  database:
    container_name: postgres
    image: ghcr.io/immich-app/postgres:{{ immich_postgres_version }}
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      POSTGRES_USER: {{ immich_db_username }}
      POSTGRES_PASSWORD: {{ immich_db_password }}
      POSTGRES_DB: {{ immich_db_name }}
    volumes:
      - "{{ immich_host_volume }}/postgres:/var/lib/postgresql/data"

  redis-server:
    container_name: redis
    image: docker.io/valkey/valkey:{{ immich_valkey_version }}
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: redis-cli ping || exit 1
    volumes:
      - "{{ immich_host_volume }}/redis:/data"

  immich-server:
    container_name: immich
    image: ghcr.io/immich-app/immich-server:{{ immich_version }}
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      DB_USERNAME: {{ immich_db_username }}
      DB_PASSWORD: {{ immich_db_password }}
      DB_DATABASE_NAME: {{ immich_db_name }}
      UPLOAD_LOCATION: /data
      TZ: {{ immich_timezone }}
    volumes:
      - "{{ immich_host_volume }}:/data"
      - "{{ immich_data_volume }}/library:/data/library"
      - "{{ immich_data_volume }}/encoded-video:/data/encoded-video"
      - "{{ immich_data_volume }}/thumbs:/data/thumbs"
      - "{{ immich_data_volume }}/profile:/data/profile"
      - "{{ immich_data_volume }}/upload:/data/upload"
      - "{{ immich_data_volume }}/backups:/data/backups"
    ports:
      - "{{ immich_port}}:2283"
    depends_on:
      - database
      - redis-server

volumes:
  model-cache:
